body{
    background-color: rgb(1, 1, 21);
    color: white;
    padding: 0px;
    margin: 0px;
}
.d1{
    /* margin-left: 20px; */

    width: 360px;
display: flex;
justify-content:space-evenly;
align-items: center;
height: 70px;
background-color:black;
}
.d2{
    display: flex;
    width: 200px;
    background-color: transparent;
}
.d3{
    display: flex;
    justify-content: space-evenly;
    width: 700px;
background-color: transparent;

}
.p1{
    font-size: 12px;
}

.p1:hover{
     transform: scale(1.1);
     box-shadow: -3px -3px 4px 3px rgb(237, 219, 117); 
       border-radius:10px;
}
.d4{
   
    display: flex;
    width: 300px;
    margin-left: 20px;
    margin-top: 50px;
    height: 400px;
  
}
.d41{
    width: 150px;
    height: 150px;

}
.d42{
    color: darkorange;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.d43{
   margin-left: 20px;
   margin-top: 20px;
}
button{
    border: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100px;
    height: 25px;
    margin-left: 0px;
    border-radius:5px;
    background-color: rgb(60, 60, 250);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bi{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(56, 47, 47);
    font-size: 10px;
}
.icon{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    width: 200px;
}
.i1{
    color:goldenrod;
}